$blue: rgb(52, 152, 219);
$dark-blue: rgb(31, 58, 147);
$white: rgb(255, 255, 255);
$white-smoke: rgb(244, 244, 244);
$black-op: rgba(0, 0, 0, 0.4);
$black-max-op: rgba(0, 0, 0, 0);
$black: rgb(0, 0, 0);
$yellow: rgba(255, 218, 12, 1.0);
$orange: rgb(249, 191, 59);
$gray: rgb(189, 195, 199);

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1280px;

$gutter: 25px;

html{
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100%;
    position: relative;
    font-weight: 400;
    @media screen and ( min-width: $screen-md ){
        padding-bottom: 227px;
    }
}
figure{
    margin: 0;
}
p{
    line-height: 1.4;
}
iframe{
    border:none;
}

@font-face {
  font-family: 'zodiac';
  src:  url('./assets/fonts/zodiac.eot?xm3nmw');
  src:  url('./assets/fonts/zodiac.eot?xm3nmw#iefix') format('embedded-opentype'),
    url('./assets/fonts/zodiac.ttf?xm3nmw') format('truetype'),
    url('./assets/fonts/zodiac.woff?xm3nmw') format('woff'),
    url('./assets/fonts/zodiac.svg?xm3nmw#zodiac') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zodiac-"], [class*=" zodiac-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zodiac' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zodiac-acuario:before {
  content: "\e911";
}
.zodiac-aries:before {
  content: "\e901";
}
.zodiac-piscis:before {
  content: "\e912";
}
.zodiac-capricornio:before {
  content: "\e910";
}
.zodiac-escorpio:before {
  content: "\e908";
}
.zodiac-geminis:before {
  content: "\e903";
}
.zodiac-leo:before {
  content: "\e905";
}
.zodiac-libra:before {
  content: "\e907";
}
.zodiac-cancer:before {
  content: "\e904";
}
.zodiac-sagitario:before {
  content: "\e909";
}
.zodiac-tauro:before {
  content: "\e902";
}
.zodiac-virgo:before {
  content: "\e906";
}

/* 
 * Helpers
 */
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and ( min-width: $screen-xs ){
        max-width: 420px;
    }
    @media screen and ( min-width: $screen-sm ){
        max-width: 738px;
    }
    @media screen and ( min-width: $screen-md ){
        max-width: 960px;
    }
    @media screen and ( min-width: $screen-lg ){
        max-width: 1200px;
    }
}
.section{
    padding: $gutter*2 0 $gutter;
    transition: all .3s ease-in-out;
    .section__title{
        text-align: center;
        margin: 0 0 $gutter*2;
        font-weight: 400;
        font-size: 1.7rem;
        strong{
            font-weight: 700;
        }
    }
}
.hidden{
    display: none;
}
.text-center{
    text-align: center;
}
.overlay{
        background-color: $black;
        bottom: 0;
        left: 0;
        opacity: .4;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        &--black-op{
            background-color: $black-max-op;
        }
}

/*
 * Pager
 */
.pager{
    margin: 0 $gutter/2 $gutter;
    padding: 0;
    overflow: hidden;
    list-style: none;
    box-shadow: 0px 1px 5px $black-op;
    .next, .previous{
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8rem;
            padding: $gutter/4 $gutter/2;
            display: block;
            font-weight: 600;
            color: $black;
            transition: all .4s ease-in-out;
            &:hover{
                background-color: $white-smoke;
            }
        }
    }
    .next{
        float: right;
    }
    .previous{
        float: left;
    }
}

/*
 * Buttons
 */
.btn{
    background-color: $white;
    border: none;
    color: $blue;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    padding: $gutter/2.5 $gutter/1.3;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease;
    border-radius: 2px;
    &:hover, &:focus{
        background-color: darken($white, 5%);
    }
    &--raised{
        box-shadow: 0px 1px 5px $black-op;
    }
    /* Variaciones de color */
    &--yellow{
        background-color: $yellow;
        color: $black;
        &:hover, &:focus{
            background-color: darken($orange, 5%);
        }
    }
    &--blue{
        background-color: $blue;
        color: $white;
        &:hover, &:focus, &:active{
            background-color: darken($blue, 15%);
        }
    }
}

/*
 * Header
 */
.header{
    display: block;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.9), transparent);
    width: 100%;
    z-index: 99999;
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        @media screen and ( min-width: $screen-lg ){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    .header__logo{ 
        align-items: center;
        display: flex;
        justify-content: flex-start;
        height: 120px;
        position: relative;
        text-align: center;
        transition: all .3s ease-in-out;
        width: 100%;
        padding: 0 15px;
        img{
            margin: 15px 0 15px 15px;
            width: 150px;
            transition: all .3s ease-in-out;
        }
        @media screen and (  min-width: $screen-lg ){
            height: 170px;
            img{
                width: 250px;
            }
        }
    }
    .header__toggle{
        background-color: rgba(0,0,0,0.3);
        border: none;
        color: $white;
        font-size: 1.4rem;
        margin-right: 20px;
        outline: none;
        padding: 7px 12px;
        &:hover, &:focus{
            background-color: rgba(0,0,0,0.5);
        }
        @media screen and ( min-width: $screen-lg ){
            display: none;
        }
    }
    .header__menu{
        position: relative;
        .menu{
            list-style: none;
            margin: 0 0 0 15px;
            padding: 0;
            position: absolute;
            width: 290px;
            height: 400px;
            overflow: scroll;
            background-color: $white;
            display: none;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            li{
                border-bottom: 1px solid darken($white, 5%);
                &.highlight{
                    background-color: $yellow;
                    a{
                        color: black;
                    }
                }
                a{
                    color: $black;
                    display: block;
                    font-family: 'Open Sans','fontawesome', sans-serif;
                    font-size: 0.8rem;
                    font-weight: 700;
                    padding: 10px 20px;
                    text-align: left;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                ul{
                    display: block;
                    list-style: none;
                    padding: 0;
                    background-color: rgba(0,0,0,0.04);
                    li{
                        padding-left: 15px;
                    }
                }
            }
            @media screen and ( min-width: $screen-lg ){
                align-items: stretch;
                background-color: transparent;
                box-shadow: none;
                display: block;
                display: flex;
                height: 70px;
                list-style: none;
                margin: 0 0 0 15px;
                overflow: visible;
                padding: 0;
                position: relative;
                text-align: right;
                width: 900px;
                li{
                    text-shadow: 1px 1px 10px $black;
                    display: inline-block;
                    border: none;
                    position: relative;
                    &.highlight{
                        background-color: transparent;
                        a{
                            color: $yellow;
                        }
                    }
                    a{
                        color: $white-smoke;
                        transition: all .3s ease-in-out;
                        padding: 28px 20px;
                    }
                    ul{
                        display: none;
                        position: absolute;
                        left: -45px;
                        list-style: none;
                        padding: 0;
                        width: 200px; 
                        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
                        li{
                            text-shadow: none;
                            display: block;
                            background-color: $white;
                            &:hover, &:focus{
                                border-bottom: none;
                            }
                            @media screen and ( min-width: $screen-lg ){
                                padding-left: 0;
                            }
                            a{
                                padding-left: 15px;
                                color: $black;
                                border: none;
                                padding: 10px 20px;
                                line-height: 1.4;
                            }
                            &:hover{
                                background-color: $white-smoke;
                            }
                        }
                    }
                    &:hover, &:focus{
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.header--scroll{
        background: none;
        background-color: $dark-blue;
        box-shadow: 0px 2px 10px $black;
        .header__logo{
            height:  70px;
            img{
                width: 70px;
            }
        }
    }
}

/*
 * Slider
 */
.slider{
    position: relative;
    height: 100vh;
    @media screen and ( min-width: $screen-sm ){
        height: 600px;
    }
    @media screen and ( min-width: $screen-lg ){
        height: 700px;
    }
    .slider-item{
        background-position: center;
        background-color: $dark-blue;
        background-size: cover;
        color: $white;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 120px;
        @media screen and ( min-width: $screen-sm ){
            height: 600px;
        }
        @media screen and ( min-width: $screen-lg ){
            height: 700px;
        }
        .container{
            display: flex;
            flex-flow: column;
            height: 100%;
            @media screen and ( min-width: $screen-sm ){
                flex-flow: row-reverse nowrap;
                justify-content: space-around;
                align-items: center;
            }
        }
        .slider-item__image{
            margin: 0;
            padding: 0;
            height: 50%;
            img{
                display: block;
                height: 100%;
            }
            @media screen and ( min-width: $screen-sm ){
                width: 320px;
                height: 320px;
                img{
                    height: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            @media screen and ( min-width: $screen-lg ){
                width: 380px;
                height: 380px;
            }
        }
        .slider-item__info{
            height: 50%;
            margin-bottom: $gutter;
            @media screen and ( min-width: $screen-sm ){
                width: 360px;
                height: auto;
                text-align: left;
            }
            @media screen and ( min-width: $screen-md ){
                width: 460px;
            }
            @media screen and ( min-width: $screen-md ){
                width: 560px;
            }
        }
        .slider-item__intro{
            @media screen and ( min-width: $screen-sm ){
                font-size: 1.4rem;
            }
            @media screen and ( min-width: $screen-md ){
                font-size: 1.5rem;
            }
        }
        .slider-item__title{
            font-size: 1.6rem;
            @media screen and ( min-width: $screen-sm ){
                font-size: 2.3rem;
            }
            @media screen and ( min-width: $screen-md ){
                font-size: 3rem;
            }
        }
    }
}

/*
 * Cards
 */
.card{
    box-shadow: 0px 3px 5px 1px $black-op;
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter;
    margin-left: $gutter/2;
    margin-right: $gutter/2;
    background-color: $white;
    .card__image{
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        -webkit-margin-before:0em;
        -webkit-margin-after:0em;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .card__info{
        padding: $gutter/1.5 $gutter/1.5;
        flex-grow: 1;
        p{
            margin: 0;
        }
    }
    .card__title{
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2;
        margin: 0 0 $gutter/2;
        a{
            color: $blue;
            text-decoration: none;
            transition: color .3s ease;
            &:hover{
                color: darken($blue, 15%);
            }
        }
    }
    .card__meta{
        color: darken($white-smoke, 40%);
        display: block;
        font-size: 0.75rem;
        font-weight: 600;
        margin-bottom: 13px;
        text-transform: uppercase;
        i{
            margin-right: 3px;
        }
    }
    .card__buttons{
        text-align: right;
        padding: 0 $gutter/1.5 $gutter/2;
    }
}

/*
 * Featured 
 */
.promos{
    background-color: $white-smoke;
   .container{
       display: flex;
        flex-flow: row wrap;
        justify-content: center;
   }
}
.promo{
    @media screen and ( min-width: $screen-xs ){
        width: 400px;
    }
    @media screen and ( min-width: $screen-sm ){
        width: 46.4%;
    }
    @media screen and ( min-width: $screen-md ){
        width: 22.3%;
    }
    @media screen and ( min-width: $screen-lg ){
        width: 22.8%;
    }
}

/*
 * Supergiros Home Section
 */
.supergiros{
    background-color: #253B83;
    background-image: url('./assets/img/bg_supergiros.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: auto;
    padding: $gutter*2 0;
    .overlay{
        background-color: #253B83;
        //background: radial-gradient(  #36A3D8 , #253b83 80% );
        opacity: 0.77;
        z-index: 0;
    }
    @media screen and ( min-width: $screen-md ){
        height: 300px;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        @media screen and ( min-width: $screen-md ){
            flex-direction: row-reverse;
        }
    }
    .supergiros__info{
        z-index: 1;
        color: $white;
        text-align: center;
        margin: 0 $gutter/2;
        @media screen and ( min-width: $screen-md ){
            text-align: left;
        }
        h3{
            margin: 0 0 $gutter;
            font-size: 1.8rem;
            text-shadow: 0px 0px 10px $black;
        }
        .btn{
            margin-bottom: $gutter/2;
        }
    }
    .supergiros__logo{ 
        z-index: 1;
        img{
            width: 100%;
            margin-bottom: $gutter/2;
            @media screen and ( min-width: $screen-sm ){
                width: 380px;
                height: auto;
                margin-bottom: 0;
            }
        }
    }

}

/*
 * News
 */
.news{
    //background-image: url('./assets/img/promos-bg.jpg');
    //background-size: cover;
    //background-position: center;
}
.news__inner{
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.new{
    @media screen and ( min-width: $screen-xs ){
        width: 400px;
    }
    @media screen and ( min-width: $screen-sm ){
        width: 100%;
    }
    @media screen and ( min-width: $screen-md ){
        width: 30.6%;
    }
    @media screen and ( min-width: $screen-lg ){
        width: 31.1%;
    }
}

/*
 * Footer
 */
.footer{
    background-color: darken($dark-blue, 25%);
    color: $white-smoke;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    @media screen and ( min-width: $screen-md ){
        position: absolute;
        bottom: 0;
    }
    h4{
        margin: 0 0 15px;
        font-size: 1.2rem;
        font-weight: 400;
        color: $white;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        margin-bottom: 13px;
    }
    a{
        color: $white-smoke;
        text-decoration: none;
        &:hover{
            color: $white;
            text-decoration: underline;
        }
    }
}
.footer__top > .container{
    @media screen and ( min-width: $screen-md ){
        display: flex;
        text-align: left;
        justify-content: space-between;
    }
}

.footer__widget{
    padding: 0 0 $gutter 0; 
    @media screen and ( min-width: $screen-md ){
        padding: 0 30px $gutter 0; 
    }
    
}

.contact i{
    width: 16px;
    margin-right: 7px;
}

.social{
    li{
        border-radius: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        display: inline-block;
        margin: 0 5px 25px 0;
        padding: 0;
        a{
            background-color: $white;
            border-radius: 100%;
            color: $dark-blue;
            display: block;
            font-size: 1.5rem;
            height: 48px;
            line-height: 48px;
            text-align: center;
            text-decoration: none;
            transition: background-color .3s ease;
            width: 48px;
            &:hover{
                background-color: $yellow;
                color: $black;
            }
        }
    }
}

/*
 * Content
 */

/*
 * Main - Sidebar 
 */
.main-sidebar{
    background-color: $white;
    padding-bottom: 25px;
    padding-top: 50px;
    .container{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    @media screen and ( min-width: $screen-md ){
        .container{
            flex-direction: row;
        }
        .main{
            width: 60%;
            padding-right: $gutter;
        }
        .sidebar{
            width: 40%;
            padding-left: $gutter;
        }
    }
}

/*
 * Post
 */
.post{
    overflow: hidden;
    h1, h2, h3, h4, h5, h6{
        margin-top: 0;
        color: $blue;
        font-weight: 400;
    }
    p{
        line-height: 1.7rem;
        margin-bottom: 25px;
        margin-top: 0;
        .btn{
            margin: 0 $gutter/4 $gutter/4 0;
        }
    }
    img{
        width: 100%;
        height: auto;
        @media screen and ( min-width: $screen-xs ){
            width: auto;
            max-width: 420px;
        }
        @media screen and ( min-width: $screen-sm ){
            max-width: 738px;
        }
        @media screen and ( min-width: $screen-md ){
            max-width: 930px;
        }
        &.aligncenter{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &.alignleft{
            float: left;
            margin-right: $gutter/2;
        }
        &.alignright{
            float: right;
            margin-left: $gutter/2;
        }
    }
    strong{
        color: $blue;
    }
    ul{
        li{
            line-height: 1.7rem;
        }
    }
    
}
.post__title{
    color: $blue;
    text-align: center;
    font-weight: 600 !important;
}
.post__header{
    align-items: center;
    background-color: darken($dark-blue, 5%);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 225px;
    justify-content: center;
    overflow: hidden;
    padding-top: 140px;
    position: relative;
    text-align: center;
    &--no-height{
        height: auto;
    }
    &--map{
        height: 300px;
    }
    @media screen and ( min-width: $screen-sm ){
        padding-top: 120px;
        height: 325px;
    }
    @media screen and ( min-width: $screen-lg ){
        padding-top: 170px;
        height: 500px;
    }
    .post__title{
        color: $white;
        text-align: center;
        z-index: 1;
        font-weight: 600;
        font-size: 1.8rem;
        padding-bottom: $gutter;
    }
}

.post__date{
    text-align: center;
    margin-bottom: $gutter/2;
    font-size: .8rem;
    line-height: 1;
    font-weight: 600;
    color: darken($gray, 10%);
    i{
        margin-right: $gutter/4;
    }
}
.post__content{
    padding-top: $gutter*2;
    margin-bottom: $gutter;
    .container{
        border-bottom: 2px solid $white-smoke;
        @media screen and ( min-width: $screen-xs ){
            max-width: 420px;
        }
        @media screen and ( min-width: $screen-sm ){
            max-width: 738px;
        }
        @media screen and ( min-width: $screen-md ){
            max-width: 960px;
        }
    }
}

.campaign{
    .campaign__info, .campaign__terms{
        @media screen and ( min-width: $screen-md ){
            font-size: .85rem;
        }
    }
    .campaign__info{
        padding: 0 $gutter 0 0;
    }
    .campaign__form{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    }
    .post__header{
        height: 225px;
        height: 400px;
        @media screen and ( min-width: $screen-sm ){
            padding-top: 120px;
            height: 500px;
        }
        @media screen and ( min-width: $screen-lg ){
            padding-top: 170px;
            height: 700px;
        }
    }
    .post__content{
        .container{
            border: none;
            @media screen and ( min-width: $screen-xs ){
                max-width: 420px;
            }
            @media screen and ( min-width: $screen-sm ){
                max-width: 738px;
            }
            @media screen and ( min-width: $screen-md ){
                max-width: 960px;
            }
            @media screen and ( min-width: $screen-lg ){
                max-width: 1200px;
            }
        }
    }
}

.double-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and ( min-width: $screen-md ){
        flex-direction: row;
    }
    .column{
        width: 100%;
        margin-bottom: $gutter;
    }
    .column--overlay{
        padding: $gutter; 
        z-index: 9999;
        background-color: $white;
        @media screen and ( min-width: $screen-md ){
            margin-top: $gutter * -5;
        }
    }
}

/*
 * Portfolio
 */
.portfolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}
    .portfolio-item{
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        width: 20%;
    }
    .portfolio-item__thumbnail{
        img{
            width: 100%;
        }
    }
    .portfolio-item__link{
        color: $blue;
        display: block;
        font-size: 0.8rem;
        font-weight: 700;
        padding-top: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

/*
 * Forms
 */
 .form, form{
     margin-bottom: $gutter;
     .form__group{
        display: block;
        margin-bottom: 20px;
        position: relative;
        font-size: .8rem;
        label{
            display: block;
            font-size: .8rem;
            color: $blue;
            margin-bottom: $gutter/5;
            &.required::after{
                content: '(requerido)';
                color: $gray;
                font-size: .7rem;
                padding-left: 5px;
            }
        }
    }
    .form__item{
        border: none;
        border-bottom: 2px solid darken($white-smoke, 10%);
        display: inline-block;
        outline: none;
        padding: $gutter/3 0 $gutter/5;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        width: inherit;
        transition: all .3s ease-in-out;
        &:focus{
            border-color: $blue;
        }
    }
    textarea.form__item{
        height: 100px;
    }
    .form__item--h{
        width: 100%;
    }
 }

/*
 * Results
 */
.results__form{
    display: flex;
    align-items: center;
    justify-content: center;
    .form__item{
        margin-right: $gutter/5;
    }
}

.results{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media screen and ( min-width: $screen-sm ){
        justify-content: flex-start;
    }
}
.results__loader{
    display: block;
    text-align: center;
    .fa{
        color: $blue;
    }
}
.result{
    display: none;
    width: 100%;
    text-align: center;
    .card__title{
        font-size: .8rem;
        margin-bottom: $gutter/4;
    }
    .result__date{
        margin-bottom: 0;
        font-size: .9rem;
    }
    .result__info{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .result__number{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: $gutter/4;
        line-height: 1;
        @media screen and ( min-width: $screen-sm ){
            font-size: 2.6rem;
        }
    }
    .result__sign{
        margin-left: $gutter/3;
        i{
            display: block;
            font-size: 2rem;
            @media screen and ( min-width: $screen-sm ){
                font-size: 1.2rem;
            }
        }
        span{
            font-size: .6rem;
            text-transform: uppercase;
        }
    }
    @media screen and ( min-width: $screen-xs ){
        width: 400px;
    }
    @media screen and ( min-width: $screen-sm ){
        width: 29.8%;
    }
    @media screen and ( min-width: $screen-md ){
        width: 22.3%;
    }
    @media screen and ( min-width: $screen-lg ){
        width: 17.8%;
    }
}

/*
 *
 */
.recharges{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .recharge{
        box-shadow: none;
        @media screen and ( min-width: $screen-sm ){
            width: 150px;
        }
    }
}

/*
 * Contact List
 */
.contact-list{
    list-style: none;
    margin: 0 0 $gutter;
    padding: 0;
    font-size: 0.9rem;
    li{
        display: flex;
        align-items: center;
        margin-bottom: $gutter/2;
        .contact-list__icon{
            font-size: 1rem;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background-color: $blue;
            color: $white;
            text-align: center;
            border-radius: 100%;
        }
    }
}



 /*
  * Custom style Contact Form 7
  */
.wpcf7-response-output{
    margin: 0 !important;
    padding: $gutter/4 !important;
    font-size: .9rem !important;
}
.wpcf7-validation-errors{
    border-radius: 5px;
}
.wpcf7-mail-sent-ok{
    border-radius: 5px;
}

/* 
 * Error 404
 */
.error404{
    align-items: center;
    background-color: $dark-blue;
    background-image: url( './assets/img/404.jpg' );
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    color: $white;
    text-shadow: 0px 0px 15px $black;
    .error404__content{
        text-align: center;
        span{
            font-size: 2rem;
            font-weight:  600;
        }
        h1{
            font-size: 9rem;
            margin: 0 0 $gutter;
            line-height: 1;
        }
        .btn{
            text-shadow: none;
        }
    }
}

/* 
 * Simuchance
 */
.simuchance{
    background-color: $dark-blue;
    background-image: url( './assets/img/simuchance-bg.jpg');
    background-size: cover;
    background-position: center;
    color: $white;
}
.simuchance__logo{
    margin-bottom: $gutter;
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    @media screen and ( min-width: $screen-md ){
        width: 350px;
    }
    img{
        width: 100%;
        height: auto;
    }
}
.simuchance__main{
    display: flex;
    flex-direction: column;
    @media screen and ( min-width: $screen-sm ){
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
    .simuchance__form{
        padding: 0 $gutter/2;
        text-align: center;
        @media screen and ( min-width: $screen-sm ){
            width: 40%;
        }
        p{
            margin-top: 0;
            margin-bottom: $gutter/2;
        }
        label{
            display: block;
            margin-bottom: $gutter/3;
            font-size: .9rem;
        }
        input[type="text"], select{
            display: inline-block;
            width: 100%;
            padding: 10px 10px;
            text-align: right;
            border: none;
            border-radius: 2px;
        }
    }
    .simuchance__info{
        padding: 0 $gutter/2;
        @media screen and ( min-width: $screen-sm ){
            width: 60%;
        }
    }
    .simuchance__total{
        text-align: center;
        .simuchance__prize{
            font-size: 2.5rem;
            margin-top: $gutter/2;
            margin-bottom: $gutter/2;
            color: #FFE61C;
            text-shadow: 2px  2px 0 $black;
            @media screen and ( min-width: $screen-sm ){
                font-size: 3.5rem;
            }
            @media screen and ( min-width: $screen-md ){
                font-size: 4rem;
            }
            @media screen and ( min-width: $screen-lg ){
                font-size: 4.5rem;
            }
        }
    }
    .simuchance__details{
        h3{
            text-align: center;
            margin-bottom: $gutter/2;
            margin-top: 0;
            font-size: .8rem;
        }
        .simuchance__detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and ( min-width: $screen-sm ){
                flex-direction: row;
            }
            ul{
                margin: 0 0 $gutter;
                padding: 0 15px;
                font-size: .8rem;
                @media screen and ( min-width: $screen-sm ){
                    font-size: .8rem;
                    width: 50%;
                }
                @media screen and ( min-width: $screen-lg ){
                    width: 35%;
                }
                li{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
.simuchance__link{
    text-align: center;
    font-size: .9rem;
    margin-bottom: $gutter;
}